// ========== 変数 ========== //

/////////////////////////////////////////////////////// color
$mainColor: #B6C7E1;
$subColor: #FBF2F2;
$accentColor: #E7A5D1;
$textColor: #333;


/////////////////////////////////////////////////////// font-size
$fzH2: 3rem; //48px
$fzH3: 2rem; //32px
$fzText: 1rem; //16px
$fzNav: 1.5rem; //24px

/////////////////////////////////////////////////////// font-familiy
$ff1:"Zen Maru Gothic" , serif;
$ff2:"Tsukimi Rounded" ,sans-serif;